BookAppClient/Connected Services/BookService/BookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookDto" nillable="true" type="tns:BookDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookDto" nillable="true" type="tns:ArrayOfBookDto" />
  <xs:complexType name="BookDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealeseYear" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookDto" nillable="true" type="tns:BookDto" />
</xs:schema>